.header-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  flex-basis: 70%;
  padding: 1.0875rem 0rem;
  border-bottom: 2px solid black;
  margin: 0 auto;
}

.nav-menu {
  margin: 15px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.header-logo {
  font-size: xx-large;
  font-weight: bolder;
}

.nav-item {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

.nav-link:link, .nav-link:visited {
  text-decoration: none;
  color: black;
}

.nav-link:hover, .nav-link:active {
  color: red;
}

.active {
  text-decoration: none;
  color: purple;
}

/* 
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked */


@media only screen and (max-width: 800px) {
  .header-bar {
    flex-basis: 60%;
  }
  .nav-menu {
    flex-basis: 40%;
  }
}

@media only screen and (max-width: 650px) {
  .header-bar {
    flex-basis: 50%;
  }
  .nav-menu {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .header-logo {
    flex-basis: 100%;
  }
  .nav-menu {
    flex-basis: 50%;
    justify-content: space-between;
  }

  .header-bar {
    flex-wrap: wrap;
  }
}
